body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

p{
    text-align: left;
    line-height: 20px; /* tamanho da altura de cada linha */
    letter-spacing: 2px; /* tamanho do espaço entre cada letra */
    word-spacing: 3px; /* tamanho do espaço entre cada palavra */
    text-indent: 15px; /* tamanho da margem da primeira linha do texto */
    padding: 0px, 45px;
}

h1{
    background-image: url(img/sobre-background.jpg);
    padding: 10px;
    border: 1px solid rgb(75, 70, 70);
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure{
    background-color: rgb(204, 193, 193);
    border: 1px solid black;
    text-align: center;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

img{
    padding: 15px;
    margin: 30px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#centro-distribuicao img{
    margin-right: 30px;
    vertical-align: middle;
    width: 450px;
}

#rodape{
    color: #777;
    margin: 0px;
    padding: 0px;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

p::first-letter{
    font-weight: bold;
}

p::first-line{
    font-variant: small-caps;
}

h1 + p{
    text-indent: 0;
}